@model BugTracker.Models.ViewModels.ProjectMembersViewModel

<div class="">
    <h3 class="mt-2 mb-4">Assign Members for</h3>
    <div class="row">
        <div class="col-md-6">
            <h4>@Model.Project.Name</h4>
            <div class="card shadow mt-4">
                <div class="card-header">
                    <i class="fas fa-user-edit text-secondary"></i>
                    <strong>Assign Team Members</strong>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="AssignMembers" asp-controller="Projects">
                        <input hidden asp-for="Project.Id"/>
                        <div class="col-12 mb-3">
                            <div class="form-group">
                                <select required asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model.Users" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input type="submit" class="btn btn-primary" value="Assign Users"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 mb-4">
        <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Project.Id">Back to Details</a>
    </div>
</div>