html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.project-activity {
    max-height: 300px;
    overflow-y:auto;
}

.ticket-activity {
    max-height: 400px;
    overflow-y: auto;
}

.card-body {
    font-size: 0.9em;
    color: darkslategray;
}

/* DataTables JK custom*/
table.dataTable.table-striped > tbody > tr.odd > * {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%) !important;
}

table.dataTable td, th {
    /*font-size: 0.9em;*/
    vertical-align: middle;
    color: darkslategray !important;
}



/* ********** MEDIA ********** */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .project-activity {
        min-height: 635px;
        max-height: 635px;
    }

    .ticket-activity {
        min-height: 600px;
        max-height: 1150px;
    }

}